@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@700');

.buttonDelete {
    margin-left:30px;
    padding: 0px;
    width: 100px;
    height:30px;
    font-size: 14px;
}

.toDoInput {
    color:rgb(251, 73, 73);
    font-size: 20px;
    width: 400px;
    height:30px;
    padding: 5px;
    border-radius: 0px;
    background-color: rgb(69, 68, 68);
    font-family: 'Smooch Sans', sans-serif;
}

.addItemSection button {
    color:rgb(251, 73, 73);
    font-size: 30px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(69, 68, 68);
    font-family: 'Smooch Sans', sans-serif;
}

.mainToDo {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 30px 0px 100px 0px;
}

.addItemSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.listSection {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin:0px 40px 0px 40px;
}

.listItemSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}